# Virtual Environment
trend/
venv/
env/
ENV/
*.pyc
__pycache__/

# Python
*.py[cod]
*$py.class
*.so
.Python

# VS Code
.vscode/

# Environment variables
.env

# Database
*.db
*.sqlite3
*.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db

backend/
__pycache__/
*.pyc